<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Admin Panel</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <style>
        /* CSS for header and logo */
        header {
            display: flex;
            align-items: center; 
            padding: 10px; /* Added padding for better spacing */
            background-color: #f0f0f0; /* Added a background color for better visibility */
        }

        header img {
            margin-right: 10px; 
            width: 100px; 
            height: auto; 
        }

        header h2 {
            margin: 0; 
        }
    </style>
</head>

<body>
    <header>
        <img src="../static/images/logo.png" alt="Logo" width="100" height="100">
        <h2>Welcome to the Admin Panel</h2>
    </header>
    
    <form method="post" action="/admin/upload_document" enctype="multipart/form-data">
        <label for="file">Select Document(s): (Only .pdf file is accepted)</label>
        <input type="file" name="file" id="file" accept=".pdf" multiple required>
        <button type="submit">Upload</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>

</html>
